<table>
  <tr>
    <th>Time/Date</th>
    <% dates = @timetable.keys.map { |x, y| y }.uniq %>
    <% dates.each do |date| %>
      <th><%= AvailableTime::DAYS[date - date.beginning_of_week].capitalize %><br><%= date.to_s %></th>
    <% end %>
  </tr>
  <%
    # @timetable is a hash with keys of the form [28800, <date>], [28800, <date>], ...
    # where 28800 is the number of seconds since the beginning of the day and <date> is the date
    (8..19.5).step(0.5).each do |hours|
      seconds = (hours * 3600).to_i
      concat "<tr>".html_safe
      _start = seconds_to_12_hour_time(seconds)
      _end = seconds_to_12_hour_time(seconds + 1800)
      concat "<th>#{_start} - #{_end}</th>".html_safe
      dates.each do |date|
        if(@timetable[[seconds, date]])
          time = AvailableTime.build_on_date(date: date.to_s, from: seconds, to: seconds + 1800)
          concat "<td class='available' data-time='#{time.from.to_i}'></td>".html_safe
        else
          concat "<td></td>".html_safe
        end
      end
      concat "</tr>".html_safe
    end
  %>
</table>
