<p>You are invited to <%= @exam.lecture_title %> exam for <%= float_to_time(@exam.duration) %> hours</p>
<%= form_tag controller: :event, action: :participate, id: @exam.id do %>
<label>Enter your name: </label><input type="text" name="name"><br>
<p>Please Choose the suitable time for you by clicking the table cells</p>
<%= render 'exam/timetable' %>


<p>Legend</p>
<ul class="legend">
  <li style="color: cyan"><span>Available</span></li>
  <li style="color: gray"><span>Not Available</span></li>
  <li style="color: green"><span>Suitable</span></li>
  <li style="color: red"><span>Not Suitable</span></li>
</ul>

<div id="selected_times"></div>
<input type="submit" name="submit" value="Submit">
<% end %>

<script>
  participate_init();
</script>
