<h1>Lecture Time Result</h1>
<p>List of participants:</p>
<table class="participants">
  <tr>
    <th width="200px">Name</th>
    <th width="100px">Action</th>
  </tr>
</table>

<%= render 'exam/timetable' %>

<p>Legend</p>
<ul class="legend">
  <li style="color: cyan"><span>Available</span></li>
  <li style="color: gray"><span>Not Available</span></li>
  <li style="color: green"><span>Suitable</span></li>
  <li style="color: red"><span>Not Suitable</span></li>
</ul>

<script>
  participants = <%= @participants.html_safe %>;
  results_init();
</script>
