table {
  color: white;
  text-align: left;
}

th {
  background: #64B5F6;
}

td {
  background: gray;
  
  &.available {
    background: cyan;
    cursor: pointer; cursor: hand;
    padding: 0 10px;
  }

  &.suitable {
    background: green;
  }
  
  &.not-suitable {
    background: red;
  }
}

.legend span {
  color: black;
}

span.num-suitable {
  float: left;
  color: green;
}

span.num-not-suitable {
  float: right;
  color: red;
}